.orderNew {
  height: 74.5rem;
  background-color: var(--white);
  min-width: 500px;
  max-height: 75.5rem;
}

.orderNew > div:first-child {
  height: 15%;
  text-align: center;
}

.orderNew > div:first-child > a > img {
  height: 100%;
  width: auto;
}

.container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 2rem;
}

.container > div > p:first-child {
  font-size: 2rem;
  border-bottom: 2px solid black;
  width: fit-content;
  margin-bottom: 4rem;
  text-decoration: none;
  color: black;
  margin-bottom: 2rem;
}

.container > div {
  min-width: 40%;
}

.container > div > p:nth-child(2) {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.container > div > form {
  padding: 2rem;
  font-size: 2rem;
  background-color: white;
  justify-content: center;
}

.container > div > form > div {
  display: flex;
  gap: 3rem;
  margin-bottom: 4rem;
}

.container > div > form > div:last-child {
  margin-bottom: 1rem;
}

.container > div > form > div > p {
  width: 20rem;
}

.container > div > form > div > input {
  font-size: 2rem;
  background-color: transparent;
  border-bottom: 2px solid black;
  border-radius: 0px;
  width: 30rem;
  height: 3rem;
}

.container > div > form > div > input[type="number"]::-webkit-inner-spin-button,
.container
  > div
  > form
  > div
  > input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

.container > div > form > button {
  display: block;
  margin-top: 4rem;
  font-size: 3rem;
  background-color: var(--orange);
  color: white;
  border-bottom: 7px solid black;
  text-decoration: none;
  padding: 0 2rem;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  transition: all 0.25s ease;
}

.container > div > form > button:hover {
  border-bottom: 10px solid black;
}

@media (height > 771px) {
  .orderNew {
    height: 100vh;
  }
}
