header {
  position: relative;
  z-index: 5;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
  background-color: var(--yellow);
  border-bottom: 10px solid var(--orange);
  transition: box-shadow 1s ease;
}

header > * {
  width: 33.333%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: black;
  overflow: auto;
}

.greetings {
  height: fit-content;
  overflow: scroll;
}

.greetings > p {
  padding: 0 2rem;
  border-bottom: 5px solid var(--blue);
  line-height: 25px;
}

.imageContainer {
  justify-content: center;
}

.imageContainer > a {
  width: auto;
  height: 100%;
}

.imageContainer > a > img {
  width: auto;
  height: 100%;
}

.cartContainer {
  justify-content: end;
}

.cartContainer > div {
  position: relative;
  text-decoration: none;
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  background-color: var(--orange);
  color: var(--white);
  fill: var(--white);
  border-bottom: 4px solid black;
  transition: all 0.25s ease;
}

.cartContainer > div > span {
  position: absolute;
  background-color: var(--blue);
  padding: 0 1rem;
  border-radius: 20px;
  font-size: 1.75rem;
  bottom: 60%;
  right: 90%;
}

.cartContainer > div.cartOpen {
  background-color: black;
}

.cartContainer > a:hover {
  border-bottom: 10px solid black;
  fill: black;
  color: black;
}

.search {
  position: absolute;
  width: 30rem;
  top: 110%;
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
  padding: 0 2rem;
  border: 7px solid var(--orange);
  border-top: none;
  display: flex;
  gap: 2rem;
  box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.2);
  height: 7rem;
}

.search > input {
  position: relative;
  border-radius: 0;
  height: fit-content;
  width: 80%;
  font-size: 2rem;
  border-bottom: 2px solid black;
  background-color: var(--white);
  transition: all 0.25s ease;
}

.search > div {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-radius: 50%;
  background-color: var(--orange);
  border-bottom: 4px solid black;
  transition: all 0.25s ease;
}

.search > div > svg {
  transition: all 0.25s ease;
}

.search > div:hover {
  border-bottom: 10px solid black;
}

.search > div > svg:hover {
  fill: black;
}

.search > div > svg {
  height: 2rem;
  fill: var(--white);
}

header {
  margin-bottom: 2rem;
}

@media (width < 1094px) {
  .greetings > p {
    font-size: 1.5rem;
    border-bottom: 2px solid var(--blue);
  }
}

@media (width < 953px) {
  .greetings {
    display: none;
  }
  .imageContainer {
    width: 50%;
    justify-content: start;
  }
  .cartContainer {
    width: 50%;
  }
}

@media (width < 672px) {
  .search {
    width: 40rem;
  }
  .search > div {
    padding: 1rem 0;
    width: 15%;
  }
}

@media (width < 506px) {
  header {
    padding: 0 1rem;
  }
}
