.error {
  height: 75rem;
  width: 100%;
  font-size: 6rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error > p {
  white-space: wrap;
  padding: 2rem 10rem;
  text-align: center;
  background-color: var(--orange);
  border-radius: 100px;
  border-bottom: 10px solid black;
}
