.CART {
  position: absolute;
  z-index: 4;
  top: -100%;
  left: 75%;
  height: 90%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border: 8px solid var(--orange);
  border-top: none;
  border-radius: 0 0 20px 20px;
  padding: 15rem 2rem 0 2rem;
  box-shadow: 20px 80px 100px 50px rgba(0, 0, 0, 0.306);
  transition: top 0.5s ease;
}

.opened {
  top: 50.7%;
}

.CART > a {
  position: absolute;
  right: 2%;
  top: 10%;
  fill: black;
}

.CART > a:hover {
  fill: var(--orange);
}

.buttonContainer > a:hover {
  border-bottom: 10px solid black;
}

.CART > p {
  font-size: 4rem;
  color: black;
  margin-bottom: 2rem;
}

.orderContainer {
  height: 55%;
  background-color: white;
  padding: 1rem 2rem;
  font-size: 2rem;
  overflow: scroll;
}

.orderContainer > div {
  display: flex;
  justify-content: space-between;
  transition: all 0.25s ease;
}

.orderContainer > div:hover {
  border-left: 10px solid black;
  padding-left: 2rem;
}

.orderContainer > div:not(:first-child) {
  margin-top: 2rem;
}

.orderContainer > div > p {
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orderContainer > div > div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.orderContainer > div > div > svg {
  fill: var(--orange);
  transition: all 0.25s ease;
}

.orderContainer > div > div > svg:hover {
  scale: 1.2;
  fill: black;
}

.orderContainer > div > div > button {
  font-size: 2rem;
  padding: 0 2rem;
  background-color: var(--orange);
  color: white;
  border-bottom: 6px solid black;
  transition: all 0.25s ease;
}

.orderContainer > div > div > button:hover {
  background-color: black;
  border-bottom: 6px solid var(--yellow);
  scale: 1.2;
}

.orderContainer > div > div > button:active {
  background-color: green;
  border-bottom: 6px solid var(--yellow);
  scale: 1.2;
}

.CART > section {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.buttonContainer {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.buttonContainer > a {
  width: 40%;
  height: 100%;
  font-size: 2rem;
  background-color: var(--orange);
  color: white;
  border-bottom: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease;
}

@media (width < 1156px) {
  .CART {
    width: 70%;
    left: 50%;
  }
}

@media (width < 880px) {
  .CART > p {
    font-size: 3rem;
  }
  .orderContainer {
    font-size: 1.5rem;
  }
  .orderContainer > div > div {
    gap: 1rem;
  }
  .orderContainer > div > div > button {
    font-size: 1.5rem;
    border-bottom: 4px solid black;
  }
  .orderContainer > div > div > svg {
    height: 2rem;
  }
  .CART > section {
    font-size: 2rem;
  }
}

@media (width < 597px) {
  .CART {
    width: 90%;
    left: 50%;
  }
}
