.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container > img {
  width: 20%;
  height: auto;
}

.container > p {
  font-size: 3rem;
  background-color: var(--yellow);
}
